.dt-main {
  height: 90vh;
  font-size: 1.6rem;
  font-family: VolvoNovum, sans-serif;

  &__container {
    width: 100%;
    height: 100%;

    &__title {
      font-family: VolvoBradPro, sans-serif;
      display: block;
      font-size: 3rem;

      &--locale {
        font-family: VolvoNovum, sans-serif;
        text-transform: uppercase;
        font-size: 2.8rem;
        font-weight: 300;
      }
    }
  }
}


